body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
}

.main-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 225px;
  
}

.logo {
  color: #FED136;
  font-family: 'Kaushan Script', cursive;
}

.header-links {
  color: white;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle {
  height: 40px;
  width: 80px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FED136;
  color: white;
  display: none;
}

.mobile-links {
  display: none;
}

.middle-text {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.welcome {
  font-Family: 'droid serif';
  font-Style: italic;
  font-size: 40px;
  margin: 0px 0px 25px;
  box-sizing: border-box;
}

.meet {
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 50px;
  font-weight: 700;
}

.tell-me-more {
  background-color: #FED136;
  border-color: #FED136;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  padding: 20px 40px;
  font-weight: 700;
}

@media(max-width: 992px){
  .main-header {
    height: 100px;
    background-color: #212529;
  }

  .header-links {
    display: none;
  }

  .dropdown-toggle {
    display: initial;
    display: flex;
  }

  .mobile-links {
    display: initial;
    height: 200px;
    width: 100%;
    background-color: rgb(230, 66, 66);
    position: fixed;
    top: 100px;
    left: 0px;
    padding-left: 200px;
  }
}