body {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
}

.main-header {
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 200px;
  
}

.logo {
  color: #FED136;
  font-family: 'Kaushan Script', cursive;
}

.header-links {
  color: white;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle {
  height: 40px;
  width: 80px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FED136;
  color: white;
  display: none;
}

.mobile-links {
  display: none;
}

@media(max-width: 992px){
  .main-header {
    height: 100px;
    background-color: #212529;
  }

  .header-links {
    display: none;
  }

  .dropdown-toggle {
    display: initial;
    display: flex;
  }

  .mobile-links {
    display: initial;
    height: 150px;
    width: 150px;
    background-color: rgb(230, 66, 66);
    position: fixed;
    top: 100px;
    left: 0px;
  }
}