body {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
}

.main-header {
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 200px;
  
}

.logo {
  color: #FED136;
  font-family: 'Kaushan Script', cursive;
}

.header-links {
  color: white;
  width: 50%;
  display: flex;
  justify-content: space-between;
}